.vs/
RedditEmblemPlayerPortal/appsettings.json
RedditEmblemPlayerPortal/bin/
RedditEmblemPlayerPortal/Migrations/
RedditEmblemPlayerPortal/obj/Debug/
RedditEmblemPlayerPortal/angular-app/node_modules
RedditEmblemPlayerPortal/RedditEmblemPlayerPortal.csproj.user
RedditEmblemPlayerPortal/wwwroot/js/*.js.map
RedditEmblemPlayerPortal/angular-app/src/index.html
RedditEmblemPlayerPortal/angular-app/dist/out-tsc/app/*.js.map
RedditEmblemPlayerPortal/angular-app/dist/out-tsc/*.js.map
RedditEmblemPlayerPortal/angular-app/dist/out-tsc/environments/*.js.map
