<div style="padding-right: 10px;">
  <button class="btn btn-link" (click)="toggleExpand()" style="width: 30px;">
    <span *ngIf="isExpanded"><i class="fas fa-caret-down fa-lg"></i></span>
    <span *ngIf="isExpanded == false"><i class="fas fa-caret-right fa-lg"></i></span>
  </button>
  <h3 style="display: inline-block;">{{listTitle}}</h3>
  <button class="btn btn-primary" data-toggle="modal" data-target="#newWorkshopModal" *ngIf="showAdd" style="float: right;">
    <i class="fas fa-plus fa-sm"></i>
  </button>
  <div class="container-fluid content-row">
    <div class="row" *ngIf="isExpanded">
      <team-card class="col-md-3" *ngFor="let team of teams" [teamInfo]="team"></team-card>
    </div>
  </div>
  <hr />
</div>,