@using Microsoft.AspNetCore.Identity
@using RedditEmblemPlayerPortal.Data
@using RedditEmblemPlayerPortal.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
  <div class="navbar-header">
    <h4 class="form-inline navbar-btn navbar-link">
      <img src="@await UserManager.GetDiscordAvatarURL(User)" class="avatarSmall" onerror="this.src='images/discordavatardefault.jpg';" alt="Discord Avatar" />
      <span style="padding-left: 5px;">@await UserManager.GetDiscordUsername(User)</span>
    </h4>
  </div>
  <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
    <ul class="nav navbar-right">
      <li>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
      </li>
    </ul>
  </form>
}
else
{
  <li>
    <a class="navbar-brand" href=".">Reddit Emblem Player Portal</a>
  </li>
}