@page
@model AboutModel

<div class="container-fluid">
  <div class="col-xl-5" style="padding: 10px; overflow: auto;">
    <h2 style="text-align: center;">About the Reddit Emblem Player Portal</h2>
    <img src="https://www.hdwallpapers.in/walls/pink_cosmos_flowers-wide.jpg" style="height: 178px; width: 280px; margin-left: 10px; float: right;" />
    <p style="vertical-align: top;">Lorem ipsum dolor sit amet, no nominavi oportere his, et albucius epicurei corrumpit eum. Qui in velit iuvaret argumentum, elitr eruditi nominati pro ei, alii eripuit eam in. Vix meis omnis definitionem an. Eos omnesque facilisi id. Probo insolens mandamus cu mea, pri postea audire ne. Repudiare necessitatibus ex vis, id magna labores volumus mea, gubergren splendide ei eum. Eu idque dicam volutpat mea. At epicuri epicurei moderatius nec. An falli accusata iracundia mel. Vis cu tale aperiri scripserit. Pri nisl malis fabulas in, eos elit malis no.</p>
    <p style="vertical-align: top;">Lorem ipsum dolor sit amet, no nominavi oportere his, et albucius epicurei corrumpit eum. Qui in velit iuvaret argumentum, elitr eruditi nominati pro ei, alii eripuit eam in. Vix meis omnis definitionem an. Eos omnesque facilisi id. Probo insolens mandamus cu mea, pri postea audire ne. Repudiare necessitatibus ex vis, id magna labores volumus mea, gubergren splendide ei eum. Eu idque dicam volutpat mea. At epicuri epicurei moderatius nec. An falli accusata iracundia mel. Vis cu tale aperiri scripserit. Pri nisl malis fabulas in, eos elit malis no.</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
      <h3>Meet the Developers</h3>
      <img src="https://i.imgur.com/5e22Dug.png" style="border-radius: 50%; height: 50px; width: 50px; display: inline-block;" />
      <h4 style="margin-top: 5px;">IronPegasus</h4>
      <p style="width: 50%; margin: 0 auto; padding-bottom: 10px;">Iron is employed as a full-time software developer. When you can manage to tear her away from her computer, she enjoys baking and playing with her pet birds. RE member since October 2016.</p>
      <img src="https://i.imgur.com/0Q7FR79.gif" style="border-radius: 50%; height: 50px; width: 50px; display: inline-block;" />
      <h4 style="margin-top: 5px;">Leo</h4>
      <p>It's that dude! He draws stuff.</p>
    </div>
  </div>
  <div class="col-xl-5" style="padding: 10px; text-align: center;">
    <h3>Connect with Us</h3>
    <p style="width: 75%; margin: 0 auto; padding-bottom: 10px;">Only members of our community are allowed to register in our system. If you're interested in learning more about Reddit Emblem or joining a team, you can connect with us on the following social media platforms.</p>
    <button type="button" class="btn btn-default" aria-label="Reddit" onclick="location.href='https://www.reddit.com/r/Reddit_Emblem/'">
      <img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/social-reddit.png" style="height: 30px; width: 30px;" /> Reddit
    </button>
    <button type="button" class="btn btn-default" aria-label="Discord" onclick="location.href='https://discord.gg/8n67Z3J'">
      <img src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" style="height: 30px; width: 30px; filter: invert(100%);" /> Discord
    </button>
  </div>
</div>